<ul>
  <li><%= link_to('English', locale: :en) %></li>
  <li><%= link_to('Deutsche', locale: :de) %></li>
  <li><%= link_to('中文', locale: :zh) %></li>
  <li><%= link_to('русский', locale: :ru) %></li>
</ul>

<div><%= t('welcome') %></div>